/* Folha de Estilo */

html {
	font-size:16 px;
}

* {
    margin: 0;
    padding: 0;
}

/* About-Me */
.body-about-me {
    background-image: url("http://localhost:81/pricampos.blog.br/www/galeria/banner/priscila-background2.jpeg");
    background-repeat: no-repeat;
    overflow: scroll;
    background-size: cover;
    background-position: center;
}

.about-me {
    box-sizing: border-box;
    width: 60%;
    height: auto;
    margin-left: 20%;
    background-color: rgba(255,255,255,.6);
    border-radius: 30px;
    border: solid 40px transparent;
    box-shadow: 0px 0px 6px 2px #9FA4B2;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 190px;
    margin-bottom: 10px;
}

.title-about-me {
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 20px;    
}

.img-about-me {
    height: auto;
    width: 150px;
    display: block;
}

.div-network {
    text-align: left;
    padding-top: 20px;
}

#li-content-about-me {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.li-about-me p {
    margin-top: 12px;
    margin-bottom: 12px;
    display: block;
}


