/* Folha de Estilo */

html {
	font-size:16 px;
}

* {
    margin: 0;
    padding: 0;
}

/* About-Me */
.body-about-me {
    background-image: url("/pricampos.blog.br/www/galeria/banner/priscila-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    overflow: scroll;
    display: block;
    width: 100%;
    height: auto;
}

.about-me {
    box-sizing: border-box;
    width: 70%;
    height: auto;
    margin-left: 15%;
    background-color: rgba(255,255,255,.6);
    border-radius: 30px;
    border: solid 40px transparent;
    box-shadow: 0px 0px 6px 2px #9FA4B2;
    margin-top: 190px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.title-about-me {
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 15px;  
    color: crimson;
}

.title-name {
    font-size: 115%;
    font-family: 'Open Sans', sans-serif;
}

.title-address {
    font-size: 90%;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

.about-me p {
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    text-align: justify;
    margin-top:10px;
    margin-bottom: 10px;
}

.img-about-me {
    height: auto;
    width: 150px;
    display: block;
}

.div-network {
    float: left;
    position: relative;
    margin-top: -120px;
    margin-left: 190px;
    font-family: 'Open Sans', sans-serif;
}

.a-network {
    list-style: none;
    text-decoration: none;
    color: #3B3F55;
}

.a-network:hover {
    cursor: pointer;
    color: #19191F;
}

@media(max-width: 870px) {
    .about-me {
        width: 98%;
        margin-left: 1%;
        margin-top: 220px;
        border: solid 10px transparent;
        border-radius: none;
    }
    
    .title-about-me {
        margin-bottom: 8px;
    }
    
    .img-about-me {
        width: 125px;
    }
    
    .div-network {
        font-size: 80%;
        margin-top: -100px;
        margin-left: 50%;
    }
}


