/* Folha de Estilo */

html {
	font-size:16 px;
    min-height: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

/*Footer*/
.footer-main {
    clear: both;
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 8px;;
    background-color: #CCCECB;
}

.footer {
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: #CCCECB;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.footer-resize {
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    list-style: none;
}
.footer-text {
    background-color: #CCCECB;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    flex-grow: 1;
    float: left;
    display: block;
}

.footer-return-top {
    width: auto;
    display: block;
}

.a-footer-return {
    text-decoration: none;
    color: black;
    font-size: 80%;
    font-family: 'Open Sans', sans-serif;
}

.a-footer-return:hover {
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 2px;
}

.footer-copyright {
    background-color: #FF69B4;
    width: 100%;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
}
.footer-copyright a {
    color: black;
    font-size: 65%;
    font-family: 'Arial';
    text-align: center;
    list-style: none;
    text-decoration: none;
    display: block;
}

.footer-copyright a:hover {
    cursor: pointer;
    color: #fff;
}

.footer-copyright a:active, .footer-copyright a:link {
    color: black;
}

@media(max-width: 870px){
    .footer-resize {
        width: 100%;
        margin-left: 0%;
    }
    .a-footer-return {
        font-size: 65%;
    }
    .footer-text {
        font-size: 65%;
    }
}